/*RESET*/
/*style nie sa responsywne*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', Arial, sans-serif;
}

.container{
width:100%;
max-width: 1650px;
margin:0 auto;

}

.row::after{
content: "";
clear: both;
display: block;

}

.col{
float:left;

}


/*Header*/
body{  /************************tymczasowe**********************************/
  background: gray;
}

em{
  color: rgb(37, 201, 176);
  font-style: normal;
  font-weight: 700;
}

header {
  background-color: black;
  height: 60px;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: .07em;
}

header p.col {
  padding: 19px 0;
}

header nav.col {
  float: right;
}

header nav.col>ul {
  list-style-type: none;
}

header nav.col>ul>li {
  display: inline-block;
  padding: 19px 0;
  margin-left: 2.5em;
  position: relative;
}

header nav.col>ul>li a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}


header nav.col>ul>li .inner-list {
  list-style-type: none;
  position: absolute;
  top: 3.8em;
  left: -1.5em;
  font-weight: normal;
  text-transform: none;
  letter-spacing: .1em;
  background: black;
  display: none;  /*PRZY OPACITY POJAWIA SIE ROWNIEZ PRZY HOVER NAD INNER-LIST WTFFFFF*/
  /*opacity: 0;*/
}

header nav.col>ul>li:hover{
  padding-bottom: 10em;
  z-index: 1; /*nakrywa margines z bannera(article.col) zeby padding-bottom dzialal poprawnie*/
  margin-bottom: -100%; /* potrzebne zeby article.col nie przeskakiwal w dol przy wysunieciu listy.. jest to hotfix i poprawnosc jest nieznana */
}

header nav.col>ul>li:hover .inner-list  {
  display: block;
  /*opacity: 1;*/

}


header nav.col>ul>li .inner-list>li {
  padding: 1em 1em 0 1em;
}

header nav.col>ul>li .inner-list>li:last-child{
  padding: 1em;
}

header nav.col>ul>li .inner-list-arrow{
  position: absolute;
  top:-13px;
  left: calc(50% - 13px);
  background: black;
  width: 26px;
  height: 26px;
  transform: rotate(45deg) skew(7deg,7deg);
}


/*sekcja BANNER*/

.banner {
  height: 770px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgba(202,200,204,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(57%, rgba(255,255,255,1)), color-stop(100%, rgba(202,200,204,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgba(202,200,204,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgba(202,200,204,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgba(202,200,204,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgba(202,200,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cac8cc', GradientType=0 );
}

/*napisujemy szerokosc maksymalna kontenera w sekcji banner zeby kolumna obrazka i artykuly zajmowaly 50% szerokosci viewportu*/
.banner .container {
  max-width: 100%;
  position: relative; /*pod arrowy*/
}

.banner .container .banner-arrow {
  width:60px;
  height:60px;
  position: absolute;
}

.banner .container #Left-arrow {
  border-left: 7px solid rgb(37, 201, 176);
  border-bottom: 7px solid rgb(37, 201, 176);
  border-bottom-left-radius: 7px;
  transform: rotate(45deg) skew(-12deg,-12deg);
  top: calc(52% - 30px); /*polowa kontenera - polowa diva = srodek wysokosci*/
  left: 7%;
}

.banner .container #Right-arrow{
  border-right: 7px solid rgb(37, 201, 176);
  border-bottom: 7px solid rgb(37, 201, 176);
  border-bottom-right-radius: 7px;
  transform: rotate(-45deg) skew(12deg,12deg);
  top: calc(52% - 30px);
  right: 7%;
}


.banner .container .image-container.col {
  width:50%;

}



.banner .container .image-container img {
  width: 100%;
  height: auto;
  margin: 11% 0 0 4%;

}

.banner .container .article-container.col {
  width: 50%;
  text-align: center;



}

.banner .container .article-container.col article{
  width:74%;
  margin-left: -8.6%;
}

.banner .container .article-container.col article h2{

  font-size: 62px;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 2px;
  margin-top: 30%;

}

.banner .container .article-container.col article p {
  font-size: 23px;
  font-weight: 300;
  word-spacing: 2px;
  line-height: 1.4;
  margin-top: 6.5%;
}

.banner .container .article-container.col article button{
  border-radius: 12px;
  text-transform: uppercase;
  color: white;
  border: none;
  font-size: 36px;
  word-spacing: 5px;
  background-color: rgb(37, 201, 176);
  width: 11.2em;
  height: 2.2em;
  margin-top: 7%;

}

/*sekcja CHAIRS*/

.chairs {
  background-color: white;
  height: 540px;
}



.chairs .container .col {
  width: 31.3%;    /* 93,9%*/
  margin-top: 3%;
  position: relative; /*pod .element-name*/
}

.chairs .container figure.image-container.col{
  margin-right: 3%; /*6%*/
}

.chairs .container article.col {
  border-width: 2px 1px 1px 2px;
  border-color: lightgray;
  border-style: solid;
  padding: 2% 2% 1.5% 2%;
}


.chairs .container figure.image-container.col img {
  width: 100%;
  height: auto;
}

.chairs .container figure.image-container.col div.element-name{ /*czemu domyslnie sa pod img skoro maja pos: abs??? dopiero po daniu top:0 ida pod gorna krawedz*/
  position: absolute;
  bottom: 10%;
  background-color: rgba(255, 255, 255, 0.4);
  width:100%;
  height:25%;
  min-height: 40px;
}

.chairs div.element-name figcaption{
  display: inline-block;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  border-bottom: 0.45em solid rgb(37, 201, 176);
  margin: 3% 0 0 4%;
}

.chairs figure.image-container.col:nth-of-type(1) div.element-name figcaption{
  width:44.5%;
}


.chairs div.element-name figcaption .product-name{
  text-transform: uppercase;
  font-weight: 700;
}

.chairs .container article.col p {
  font-size: 22px;
  line-height: 1.6em;
  font-weight: 400;
  color: gray;
  margin-bottom: 6%;
}

.chairs .container article.col h4.element-name{
  display: inline-block;
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  border-bottom: 0.45em solid rgb(37, 201, 176);
  width:44.5%;
  margin-bottom: 4%;
}


/*sekcja PRICING*/

.pricing {
  height:1110px;
  background-color: rgb(241, 241, 241);
}

.contact { /*******************************tynczasowe***************************************/
  height: 1000px;
  background: gray;
}



.pricing .container .row:nth-of-type(1) .col{
  width: 100%;
}

.pricing .container .row .col h4.element-name{
  display: block;
  text-transform: uppercase;
  color: rgb(100,100,100);
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  border-bottom: 0.4em solid rgb(37, 201, 176);
  width:30%;
  margin: 3% 0 7% 0;
}

.pricing .container .row:nth-of-type(2) .col{
  width: 33.3%;
  /*height: 80%;*/
  /*border: 4px solid lightgray;*/
  /*border-radius: 5px;*/
  /*margin-right: 3%;*/
  /*background-color: rgb(249, 249, 249);*/
  /*position: relative;*/
}


.pricing .col .subscription-container{
  height: 760px;
  border: 4px solid lightgray;
  border-radius: 5px;
  background-color: rgb(249, 249, 249);
  /*position: relative;*/

}

#Subscription-container-1{
  margin-right: 9%;
}

#Subscription-container-2{
  margin-right: 9%;
}

#Subscription-container-3{

}

.subscription-container .subscription-inner-container-square {
  width:100%;
  position: relative;
}

.subscription-container .subscription-inner-container-square::before{ /*responsywny kwadrat*/
  content: "";
  display: block;
  padding-top: 100%;
}

/*.pricing .container .row:nth-of-type(2) .col:last-of-type{*/
  /*margin-right: 0%;*/
/*}*/

.subscription-container .circle{
  position: absolute;
  top: -12%;
  left: 41%;
  width: 18%;
  border: 4px solid lightgray;
  border-radius: 50%;
  background-color: rgb(194,194,194);
  box-shadow: inset 0 0 0 1.1vw white;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXU*/


.subscription-container h5.pricing-heading {
  position: absolute;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(39, 199, 171);
  margin: 9% 0;
  font-weight: 400;

}



.subscription-container .circle::before{ /*responsywny kwadrat(okrag)*/
  content: "";
  display: block;
  padding-top: 100%;
}



.subscription-container .subscription-circle {
  position:absolute;
  background-color: white;
  border: 4px solid lightgray;
  width:40%;
  margin: 0 auto;
  border-radius: 50%;


}

.subscription-container .subscription-circle::before{ /*responsywny kwadrat(okrag)*/
  content: "";
  display: block;
  padding-top: 100%;
}
 .span-container {
  /*position: absolute;*/
  /*top: 20%;*/
  /*left: 25%;*/
}

.subscription-circle .span-container > span:first-child {
  display: block;
  color:rgb(194,194,194);
  font-size: 3.5vw;
  font-weight: 900;
}

.subscription-circle .span-container > span:first-child > span {
   vertical-align: -15%;
}

.subscription-circle .span-container > span:first-child  > span > span {
   vertical-align: text-top;
   font-size: 1.3vw;
}

.subscription-circle .span-container > span:nth-child(2) {
  color:rgb(194,194,194);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25vw;
  line-height: 22px;
  font-weight: 700;
  /*position: absolute;*/
  /*bottom:-22%;*/
  /*left: -10%;*/

}


